
* {
    box-sizing: border-box;
  }

  .customSpacing {
    margin-top: 2%;
  }

.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 0 1em 0;
    border: 1px solid black;
  }
  
.p {
  font-size: 55%;
}


.ui.segment:first-child {
  margin-top: 0;
  background: rgb(117,14,14);
  border: none;
}

.ui.vertical.segment {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background: none transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-bottom: none transparent;
  font-size: 35px;
}

.ui.row.segments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  margin: 1rem 0;
  border-radius: .28571429rem;
  border: none;
}

.ui.text.container.segment {
  margin-top: 15%;
  background-color: #fff;
}