html {
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
}

body {
    background-color: rgb(117, 14, 14);
}

@media only screen and (max-width: 600px) {
    body{
      display:flex;
    }
  }